ownership_projections.csv
dk_salaries.csv
lineups.csv
numberfire_projections.csv
daily_process.txt
sabersim_raw.csv
sabersim_raw.csv:Zone.Identifier
sabersim_projections.csv
rotogrinders_raw.csv
rotogrinders_raw.csv:Zone.Identifier
rotogrinders_projections.csv
fantasylabs_raw.csv
fantasylabs_raw.csv:Zone.Identifier
fantasylabs_projections.csv
awesemo_raw.csv
awesemo_raw.csv:Zone.Identifier
awesemo_projections.csv
821.csv
822.csv
823.csv
824.csv
821.csv:Zone.Identifier
822.csv:Zone.Identifier
823.csv:Zone.Identifier
824.csv:Zone.Identifier
pulp_playground.py
own_predict.csv
research/data_warehouse/
ceilings.csv 
ceilings_lineups.csv 
ceilings_upload.csv
exposure.csv 